<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<nav>

</nav>

  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">

    
          <h2 data-aos="fade-up">أهلاً وسهلاً في منصة تسليم زون..</h2>
          <p data-aos="fade-up" data-aos-delay="100" style="font-size:x-large;">الخدمات التي تستحقها سنساعدك في العثور على متخصصون للاتمام مهامك..</p>
          <form action="file:///D:/projects/5amsat/views/Logis/signin.html?#!" class="form-search  align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" style="width: fit-content;">
            <!-- <input type="submit" class="btn btn-primary" >  -->
            <!-- <button type="submit" class="btn btn-primary"><i class="mobile-nav-toggle mobile-nav-show bi bi-house"></i>
            </button> -->
            <button routerLink="/Login" type="submit" class="btn btn-primary" style="font-size: 107%;" ><b>تسجيل الدخول</b>
            </button>
          </form>
          <form action="#" class="form-search  align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" style="width: fit-content;">
            <!-- <input type="submit" class="btn btn-primary" >  -->
            <button type="submit" class="btn btn-primary"><i class="mobile-nav-toggle mobile-nav-show bi bi-house" style="font-size: 30px;"></i>
            </button>
            <!-- <button type="submit" class="btn btn-primary" style="font-size: 107%;"><b>تسجيل الدخول</b>
            </button> -->
          </form>
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">232</span>
                <p>عملائنا</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">521</span>
                <p>خدماتنا</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter">1453</span>
                <p>الداعمين</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">32</span>
                <p>موظفينا</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div id="logoImg" class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
               <!-- <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt=""> -->
          <img src="assets/img/job.png" class="img-fluid mb-3 mb-lg-0" alt="" style="margin-top: 8%;">
          <!-- <iframe src="https://embed.lottiefiles.com/animation/67225" class="img-fluid mb-3 mb-lg-0"></iframe> -->
        </div>

      </div>
    </div>
  </section>
</body>
</html>