<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="containe" style="display: flex;justify-content: left;margin-top: -20px;background-image:url('/assets/assets/e.gif') ;">
  <img src="assets/e.gif" alt="" style="width:100%;">
  <!-- <h1>
    <br> Hire the best freelancers for any job, online.</h1>
  <div class="con">
    <button class="btn">Earn Mony Freelancing</button>
    <button class="btnt">Hire a freelancer</button>
  </div> -->
</div>

</body>
</html>